<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>CFBundleDevelopmentRegion</key>
	<array>
		<string>zh-CN</string>
		<string>en-US</string>
	</array>
	<key>CFBundleDisplayName</key>
	<string>${APP_DISPLAY_NAME}</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleLocalizations</key>
	<array>
		<string>zh-CN</string>
		<string>en-US</string>
	</array>
	<key>CFBundleName</key>
	<string>KONE Service Platform</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(FLUTTER_BUILD_NAME)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>$(FLUTTER_BUILD_NUMBER)</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSAppleMusicUsageDescription</key>
    <string>APP需要访问您的音乐库，以便上传操作证和检查项照片，用于记录和管理任务执行情况。</string>
    <key>NSBluetoothAlwaysUsageDescription</key>
    <string>APP需要访问您的蓝牙，以便在电梯维修时通过蓝牙读取电梯信息参数设置数据进行通信。</string>
    <key>NSBluetoothPeripheralUsageDescription</key>
    <string>APP需要访问您的蓝牙，以便在电梯维修时通过蓝牙读取电梯信息参数设置数据进行通信。</string>
    <key>NSLocationAlwaysUsageDescription</key>
    <string>APP需要访问您的定位信息，以便在签到和签退时记录您的当前位置，以确保任务的准确完成。</string>
    <key>NSLocationTemporaryUsageDescriptionDictionary</key>
    <dict>
       <key>AnotherUsageDescription</key>
       <string>App回复工单过程中需要定位，用来计算设备距离及您的当前位置。</string>
       <key>WantsToGetWiFiSSID</key>
       <string>App回复工单过程中需要定位，用来计算设备距离及您的当前位置。</string>
    </dict>
    <key>NSMicrophoneUsageDescription</key>
    <string>APP回复工单过程中需要上传声音，用来记录工单现场情况。</string>
    <key>NSLocalNetworkUsageDescription</key>
    <string>APP想访问您的WI-FI信息，为了帮您在电梯维修时通过Wi-Fi读取电梯信息参数设置数据进行通信。</string>
	<key>NSCameraUsageDescription</key>
	<string>APP需要访问您的相机，以便拍摄操作证、签到、签退或检查项照片，用于记录和管理任务执行情况。</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>APP需要访问您的定位信息，以便获取当前所在城市天气，以及签到签退时记录您的当前位置确保任务的准确完成。</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>APP需要访问您的定位信息，以便获取当前所在城市天气，以及签到签退时记录您的当前位置确保任务的准确完成。</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>APP需要访问您的照片库，以便将拍摄的检查项照片保存到本地相册。</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>APP需要访问您的照片库，以便上传操作证和检查项照片，用于记录和管理任务执行情况。</string>
	<key>UIApplicationSupportsIndirectInputEvents</key>
	<true/>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>
